body {
    font-family: sans-serif;
    background-color: rgb(118, 177, 228);
    color: rgb(0, 0, 0);
    margin: 0;
}

 img {
    display:flex;
     width: 20%;
     height: 7cm;
 }



button {
     background-color: rgb(238, 9, 188);
    color: rgb(0, 0, 0);
    padding: 0.9rem 0;
    width: 10%;
    margin: 0.5cm;
}
